# Backend configuration

# Server
SERVER_PORT=8080
SERVER_ENV=development

# Database
DB_PATH=./pyrunner.db

# JWT
JWT_SECRET=!!5g40y$0#!P39177&^!7^65W
JWT_EXPIRY=24h

# Python interpreter path
PYTHON_PATH=python
